# Kompilowane pliki klas
*.class

# Pliki logów
*.log
hs_err_pid*
replay_pid*

# Narzędzia Java
.mtj.tmp/

# Pliki pakietów (Maven, JAR, ZIP itp.)
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Spring Tools Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Katalogi build i target (ale nie w src/main i src/test)
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Plik pomocy Spring Boot
HELP.md
